previews:
  generation: automatic

services:
  - type: web
    runtime: docker
    name: gproxy
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    autoDeployTrigger: on_change
    healthCheckPath: /
    envVars:
      - key: GPROXY_HOST
        value: 0.0.0.0
      - key: GPROXY_PORT
        value: "8787"
      - key: GPROXY_DATA_DIR
        value: /tmp/gproxy-data
      - key: GPROXY_DSN
        sync: false
      - key: GPROXY_ADMIN_KEY
        generateValue: true
      - key: RUST_LOG
        value: info
